<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="layui-side layui-side-menu" th:fragment="sidebar">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="home/console.html">
            <span>宿舍管理系统</span>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
            lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" lay-tips="员工管理" lay-direction="2">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>宿舍成员管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="console" class="layui-this">
                        <a lay-href="home/console.html">查询宿舍成员</a>
                    </dd>
                </dl>
            </li>
            <li data-name="component" class="layui-nav-item">
                <a href="javascript:;" lay-tips="组件" lay-direction="2">
                    <i class="layui-icon layui-icon-component"></i>
                    <cite>组件</cite>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>